<div class="form">
    <form> 
  <div class="form-group">
    <label for="exampleInput">Keyworld</label>
    <input type="text" class="form-control" name="q" id="exampleInput" aria-describedby="Nhap tu khoa ...." placeholder="search">
  </div>

  <div class="form-group">
    <label for="exampleInput"></label>
    <select name="gender" class="form-control" name="q" id="exampleInput">
          <option value="">--Chon gioi tinh--</option>
          <option value="male">Nam</option>
          <option value="female">Nu</option>

    </select>
  </div>
   <button type="submmit" class="btn btn-primary"> Submmit</button>

</form>
</div>