<div class="mt-4">
    <h3>Insert Khoá Học</h3>
      <form method="POST" action="/courses/store">
          <div class="form-group">
             <label for="name"> Name </label>
             <input type="text" class="form-control" id="name" name="name">
          </div>
   
            <div class="form-group">
             <label for="image_men"> Image_men </label>
             <input type="text" class="form-control" id="image_men" name="image_men">
            </div> 

            <div class="form-group">
             <label for="image_women"> Image_women </label>
             <input type="text" class="form-control" id="image_women" name="image_women">
            </div> 

            <div class="form-group">
             <label for="image_kid"> kid </label>
             <input type="text" class="form-control" id="image_kid" name="image_kid">
            </div> 

            <div class="form-group">
             <label for="image_noibat"> image_noibat </label>
             <input type="text" class="form-control" id="image_noibat" name="image_noibat">
            </div> 

           <div class="form-group">
             <label for="slug">Slug</label>
             <input type="text" class="form-control" id="slug" name="slug">
          </div>          


          <div class="form-group">
             <label for="price"> Price</label>
             <input type="text" class="form-control" id="price" name="price">
          </div>
          
         <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>